@import '../../../../scss/mixins.scss';

.container {
  @include flexbox_horizontal;
  height: 2rem;

  .logo {
    flex: 0 0 50px;
  }

  .input {
    flex: 1 0 auto;
    @include flexbox_horizontal;
    .title {
      padding: 0 1em;
    }
    app-global-search {
      width: calc(100% - 5px);
    }

  }

  .setting {
    border-left: 1px solid #ffffff;
    @include flexbox_horizontal;
    justify-content: flex-end;
    height: 1.2rem;
    flex: 0 0 30px;
  }
}
