.product-card {
  width: 170px;
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  margin: 5px;
  overflow: hidden;
  cursor: pointer;
  padding: 16px 10px;

  .origin-logo {
    height: 1em;
  }

  .mat-card-title {
    text-align: center;
    font-size: 1em;
  }

  .mat-card-content {
    font-size: 1em;
    width: 100%;
  }

  .row {
    display: flex;
    justify-content: space-between;
    .right {
      display: flex;
      justify-content: flex-end;
    }
  }
}


.product-card:hover {
  margin: 3px;
  padding: 18px 12px;
}
