@import "../../../../scss/mixins.scss";
@import "../../../../scss/variable.scss";

app-global-search {
  .container {
    background: #ffffff;
    color: $text-normal-color;
    border-radius: $border-radius-small;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .mat-form-field-prefix {
    @include flexbox_horizontal;
    padding-right: .25rem;
  }

  .mat-form-field-infix {
    width: auto;
    flex: 0 0 auto;
    input {
      font-weight: bold;
      width: auto;
    }
  }

  .mat-form-field-suffix {
    flex: 0 0 130px;
    @include flexbox_horizontal;
  }

  .mat-focused .mat-form-field-label-wrapper {
    color: transparent;
  }
  .mat-form-field-flex {
    @include flexbox_horizontal;
  }

  .mat-select-value-text {
    font-weight: bold;
  }
}
