<div class="filters">
  <div class="marketplaces">
    <app-marketplace-filter #marketplaceFilter
      [marketplaces]="members"
      [getProgressCallback]="searchingStatusCallback"
      (marketplacesStates)="updateMarketPlaceFilter($event)"></app-marketplace-filter>
  </div>
</div>
<div class="product-results" (scroll)="next()" #productList>
  <div class="product-tiles">
    <ng-container *ngFor="let item of (productResults$ | async).showedResults" >
      <app-product-card [item]="item" [customWidth]="'auto'"></app-product-card>
    </ng-container>
  </div>

  <app-marketplace-icon-bouncing
    [marketplaces]="members"
    [getProgressCallback]="searchingStatusCallback"></app-marketplace-icon-bouncing>

  <div class="no-result" *ngIf="(isNoResult$ | async)">Product tidak ditemukan</div>
  <div class="no-result" *ngIf="(isEndResult$ | async)">Tidak ada data lagi</div>
</div>



