<div class="filters">
  <div class="marketplaces">
    <app-marketplace-filter #marketplaceFilter
      [marketplaces]="members"
      [getProgressCallback]="searchingStatusCallback"
      (marketplacesStates)="updateMarketPlaceFilter($event)"></app-marketplace-filter>
  </div>
</div>
<div class="product-results">
  <ng-container *ngFor="let item of (productResults$ | async).showedResults" >
    <app-product-card [item]="item"></app-product-card>
  </ng-container>
  <button (click)="next()">Next</button>
</div>



