@import '../../../scss/variable.scss';

.filters {
  padding: 5px 0;
  .marketplaces {

  }
}

.product-results {
  display: flex;
  flex-flow: row wrap;
  height: calc(100% - #{$header-height + 8}px);
  overflow: auto;
  padding-bottom: 5px;
}
