<div class="container">
  <header [class.no-bg]="(displayMode$ | async).transparentHeader">
    <div
      class="header-top-gap"
      [class.hidden]="!(displayMode$ | async).showTopGap"
    ></div>
    <div class="header-main">
      <app-header-navbar></app-header-navbar>
    </div>
    <div
      class="header-featured"
      *ngIf="(displayMode$ | async).showFeatured"
    ></div>
  </header>

  <content *ngLet="isIframeOpen$ | async as isIframeOpen" [class.hidden]="!(displayMode$ | async).showMainContent">
    <div
      *ngIf="(displayMode$ | async).showMainContent"
      class="content-main"
      [class.with-iframe]="isIframeOpen"
    >
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="isIframeAvailable$ | async" class="content-separator">
      <a (click)="toggleIframe()" class="content-separator__button">
        <mat-icon class="icon icon-vertical">{{ isIframeOpen ? 'arrow_drop_down' : 'arrow_drop_up' }}</mat-icon>
        <mat-icon class="icon icon-horizontal">{{ isIframeOpen ? 'arrow_right' : 'arrow_left' }}</mat-icon>
      </a>
    </div>
    <div *ngIf="isIframeAvailable$ | async" class="content-iframe" [class.hidden]="!(isIframeOpen$ | async)">
      <iframe class="e2e-iframe-trusted-src" [src]="iframeUrl$ | async"></iframe>
    </div>
  </content>
  <footer></footer>
</div>
