@import "../../../../scss/mixins.scss";
@import "../../../../scss/variable.scss";

app-text-input {
  .container {
    background: #ffffff;
    color: $text-normal-color;
    padding: 0 5px;
    border-radius: $border-radius-small;
  }

  .mat-focused .mat-form-field-label-wrapper {
    color: transparent;
  }
  .mat-form-field-flex {
    @include flexbox_horizontal;
  }
}
