/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/cdk/overlay-prebuilt.css';
@import 'scss/variable.scss';

body {
  margin: 0;
  font-family: Content-font, Roboto, sans-serif;
  color: $text-normal-color;
  font-size: $text-normal-size;
}

a {
  color: $text-link-color;
}

/* overlay */
.cdk-overlay-pane {
  background: #ffffff;
  border: 1px solid #ececec;
}
