/* Color theme */
$color-main: #753C94;
$color-light: #c09ad5;
$color-dark: #62357a;

/* text */
$text-normal-color: #333333;
$text-normal-size: 14px;
$text-link-color: $color-main;

/* border-radius */
$border-radius-small: 3px;
$border-radius-medium: 5px;
$border-radius-large: 10px;
$border-radius-extra-large: 20px;

/* transition */
$transition-normal: .5s;
$transition-long: 1s;

/* main layout size */
$header-height: 40;
$footer-height: 32;

