<mat-form-field class="container" [floatLabel]="'never'">
  <mat-icon #icon matPrefix (click)="search()">search</mat-icon>
  <input #input
    [(ngModel)]="searchValue"
    type="text"
    matInput
    (focus)="focus()"
    (blur)="blur()"
    (keydown.enter)="search()"
    [placeholder]="'ayo cari...'" />
  <span matSuffix [class.hidden]="!(isOptionsVisible$ | async)">-paling-</span>
  <mat-select #sortBy matSuffix
    [(value)]="sortValue"
    [class.hidden]="!(isOptionsVisible$ | async)"
    (selectionChange)="search()">
    <ng-container *ngFor="let option of sortOptions">
      <mat-option [value]="option.key">{{ option.label }}</mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>
