<mat-form-field class="container" [floatLabel]="'never'">
  <mat-icon #icon matPrefix (click)="search()">search</mat-icon>
  <span matPrefix>Cari</span>
  <input #input
    [(ngModel)]="searchValue"
    type="text"
    matInput
    (focus)="focus()"
    (blur)="blur()"
    (keydown.enter)="search()"
    [placeholder]="'apa ya..'" />
  <span matSuffix [class.hidden]="!(isOptionsVisible$ | async)">yang-paling-</span>
  <mat-select #sortBy [(value)]="sortValue" matSuffix [class.hidden]="!(isOptionsVisible$ | async)">
    <ng-container *ngFor="let option of sortOptions">
      <mat-option [value]="option.key">{{ option.label }}</mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>
